{% extends 'base.html.twig' %}


{% block title %} About {% endblock %}
{% block head %}
    
{% endblock %}
{% block body %}
{% include "partials/navbar.html.twig" %}

<div class="container mt-4">
    <h5 class="text-center mb-4"> About </h5>
    <div class="d-flex justify-content-between">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d504.7058972557347!2d23.835293256243848!3d44.308969893275844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4752d702cd0f3173%3A0xb159446a3e899375!2sFaculty%20of%20Automation%2C%20Computers%20and%20Electronics!5e0!3m2!1sen!2sro!4v1680893396524!5m2!1sen!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
            <iframe width="600" height="450"
                src="https://www.youtube.com/embed/ErdIytOGNKE">
            </iframe>
    </div>
</div>
{% endblock %} 