{% extends 'base.html.twig' %}


{% block title %} Products {% endblock %}
{% block head %}
    
{% endblock %}
{% block body %}
{% include "partials/navbar.html.twig" %}

<div class="container mt-4">
    <div class="row d-flex align-items-center">
        <div class="py-5 rounded-lg">
            {% if categories|length %}
                {%  include 'products/categories.html.twig' %}
            {% endif %}

            {% if products|length %}
                {% include 'products/products.html.twig' %}
            {% endif %}
        </div>
    </div>
</div>
<script>
    document.querySelectorAll('div.category-box').forEach(element => {
        console.log(element.id);
        element.addEventListener('click', () =>  handleClickCategory(element.id))
    });
    function handleClickCategory(id) {
    
        location.href = "/products-categories?id=" + id;
    }
</script>
{% endblock %}