{% extends 'base.html.twig' %}


{% block title %} Products {% endblock %}
{% block head %}
    
{% endblock %}
{% block body %}
{% include "partials/navbar.html.twig" %}
{% include "partials/footer.html.twig" %}


<div class="container mt-4">
    <div class="row d-flex align-items-center">
        <div class="row">
            <div class='col-10'>
                <input type="text" id="input-field" placeholder="Find by name ...">
                <ul id="suggestion-list"></ul>
            </div>
            
            <div class='col-2'>
                 <button id="search-btn"type="button" class="btn btn-success">Search</button>
            </div>
        </div>

        <div class="row">
            <div class='col-10'>
                <input type="text" id="input-specs" placeholder="Filter through specs ...">
            </div>
            
            <div class='col-2'>
                 <button id="specs-filter-btn"type="button" class="btn btn-info">Filter specs</button>
            </div>
        </div>
        
        <div class="py-5 rounded-lg">
            {% if categories|length %}
                {%  include 'products/categories.html.twig' %}
            {% endif %}

            {% if products|length %}
                {% include 'products/products.html.twig' %}
            {% endif %}
        </div>
    </div>
</div>
<script>
    document.querySelectorAll('div.category-box').forEach(element => {
        element.addEventListener('click', () =>  handleClickCategory(element.id))
    });
    function handleClickCategory(id) {
    
        location.href = "/products-categories?id=" + id;
    }

    const inputField = document.getElementById('input-field');
    const inputSpecs = document.getElementById('input-specs');

    const suggestionsList = document.getElementById('suggestion-list');
    const searchButton = document.getElementById('search-btn');
    const searchSpecsButton = document.getElementById('specs-filter-btn');

    suggestionsList.setAttribute('item-id', 0);

    function showSuggestions(suggestions) {
        suggestionsList.innerHTML = '';

        const userInput = inputField.value;

        suggestions.forEach(suggestion => {
            const li = document.createElement('li');
            li.classList.add('suggestion');
            li.textContent = suggestion._source.name;
            li.onclick = function () {
                inputField.value = li.textContent;
                suggestionsList.setAttribute('item-id', suggestion._id);
            }
            suggestionsList.appendChild(li);
        });
    }

    inputField.addEventListener('input', async function (event) {
        let suggestions = []; 
        suggestionsList.setAttribute('item-id', 0);
        if (event.target.value) {
            suggestions = await fetchSuggestions(event);
        }

        showSuggestions(suggestions)
    });


    async function fetchSuggestions(e) {
        var url = new URL('https://localhost:8000/products-filter')
        var params = {
            search: e.target.value
        } 

        url.search = new URLSearchParams(params).toString();

        const response = await fetch(url, {
            method: "GET", 
            mode: "cors", 
        });

        return await response.json();
    };

    searchSpecsButton.onclick = function (e) {
        const url = "/products-specs?" + 'term=' + inputSpecs.value

        window.open(url, '_blank');
    }

    searchButton.onclick = function (e) {
        location.href = "/products-search?" + "product-id=" + suggestionsList.getAttribute('item-id') +
            '&term=' + inputField.value
    }

</script>
{% endblock %}